<footer class="">

    <h2 class="">{{ site.title }}</h2>


        <ul class="">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>


        <ul class="">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.instagram_username %}
          <li>
            <a href="https://instagram.com/{{ site.instagram_username }}">
              <span class="username">{{ site.instagram_username }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.gimmebar_username %}
          <li>
            <a href="https://gimmebar.com/loves/{{ site.gimmebar_username }}">
              <span class="username">{{ site.gimmebar_username }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.dribble_username %}
          <li>
            <a href="https://dribbble.com/{{ site.dribble_username }}">
              <span class="username">{{ site.dribble_username }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <span class="username">{{ site.linkedin_username }}</span>
            </a>
          </li>
          {% endif %}
         	{% if site.codepen_username %}
          <li>
            <a href="https://codepen.io/{{ site.codepen_username }}">
              <span class="username">{{ site.codepen_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>



        <p>{{ site.description }}</p>



</footer>
